@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
.toggler:after {
  content: "";

  @apply absolute top-0.5 left-0.5 bg-white  border border-gray-300 rounded-full h-4 w-4 transition;
}

.toggler:checked {
  @apply bg-primary;
}

.toggler:checked::after {
  transform: translateX(100%);
}

#math-input {
  height: fit-content;
  min-height: 45px;
  /* margin-left: 1rem; */
  /* border: 2px solid #73798c; */
  background-color: white;
  padding: 5px;
  min-width: 10rem;
  width: fit-content;
  border-radius: 8px;

  display: flex;
  align-items: center;
}

sup {
  top: -0.3em !important;
}

.mq-editable-field.mq-focused {
  box-shadow: none !important;
}

.mobile-dropdown {
  z-index: 999;
}

.katex * {
  /* color: #73798c; */
}

.react-numeric-input > input {
  border: 2px solid transparent !important;
}

.react-numeric-input > input:focus {
  border-radius: 0;

  border-bottom: 2px solid #2356f7 !important;
}

.react-numeric-input > b {
  box-shadow: none !important;
}

.react-numeric-input > b > i {
  border-color: transparent transparent #73798c !important;
}
.react-numeric-input > b:last-child > i {
  border-color: #73798c transparent transparent !important;
}
