@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
.toggler:after {
  content: "";

  @apply absolute top-0.5 left-0.5 bg-white  border border-gray-300 rounded-full h-4 w-4 transition;
}

.toggler:checked {
  @apply bg-primary;
}

.toggler:checked::after {
  transform: translateX(100%);
}

#math-input {
  height: fit-content;
  min-height: 45px;
  /* margin-left: 1rem; */
  /* border: 2px solid #73798c; */
  background-color: white;
  padding: 5px;
  min-width: 10rem;
  width: fit-content;
  border-radius: 8px;

  display: flex;
  align-items: center;
}

sup {
  top: -0.3em !important;
}

.mq-editable-field.mq-focused {
  box-shadow: none !important;
}

.mobile-dropdown {
  z-index: 999;
}

/* .katex * {
  /* z-index: 0; */
/* color: #73798c; */

.katex * {
  z-index: 0;
}
.react-numeric-input > input {
  border: 2px solid transparent !important;
  position: relative;
  /* z-index: kkc; */
}

.react-numeric-input > input:focus {
  border-radius: 0;

  border-bottom: 2px solid #ae3077 !important;
}

.react-numeric-input > b {
  display: none;
  box-shadow: none !important;
}

.react-numeric-input > b > i {
  z-index: 0;
  border-color: transparent transparent #73798c !important;
}
.react-numeric-input > b:last-child > i {
  border-color: #73798c transparent transparent !important;
}

/* REACT-TOASTIFY RULES */

:root {
}

html.dark {
  --toastify-color-light: #0f3c4c !important;
  --toastify-text-color-light: #deedf2 !important;
  --toastify-font-family: "Poppins", sans-serif;
}

html.light {
  --toastify-color-light: white !important;
  --toastify-font-family: "Poppins", sans-serif;
}
